.container {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 1fr 2fr;
  grid-template-rows: 50px 50px;
  grid-gap: 2px;
}
.container > div {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2em;
  color: 000;
}

html, body {
background-color: #fff;
margin: 10px;
}
div {
  background-color: bisque;
  border: 1px solid #000;
}


