body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.book-text {
  font-weight: bolder;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btnStyle:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background: #f2f2f2;
  color: #2e2c72;
  transition: 5 sec ease-in;
  cursor: pointer;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  width: 60%;
  margin: 10%;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.hidden-form {
  display: hidden;
  position: absolute;
  top: 30%;
  left: 20%;
  height: 80%;
  width: 60%;
  border-radius: 3em;
  z-index: 10;
  opacity: .7;
  background: transparent;
  background-color: #2e2c72;
  color: #0f09c7;
  
}

.tableContent {
  display: flex;
  align-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 1%;
  padding: 10px;
  box-shadow: 5px 10px 5px #888888, -5px -5px 5px #2e2c72;
  border-radius: 1em;
}
th, td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: blanchedalmond;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.head-wrapper {
  background: #2e2c72;
  text-align: center;
  border-radius: 3em;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.4), -5px -5px 5px rgb(168, 167, 167);
}
.inner-wrapper {
  font-weight: 900;
  font-size: 3.5em;
  color: #fff;
}

.inner-wrapper .letters {
  display: inline-block;
  line-height: 1em;
}

.inner-wrapper .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.inner-wrapper .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.inner-wrapper .line1 { top: 0; }
.inner-wrapper .line2 { bottom: 0; }

/* modal */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}